*{
    padding: 0;
    margin: 0;
}


body {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ffdfff;
}

header{
    text-align: center;
    background-image: url(bgnd.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin-bottom: -350px;

}

.bg-text{
    letter-spacing: 5px; 
    color: #fff;   
    font-size: 130px; 
    padding-top: 170px;
    text-shadow: 0 0 20px #fff;
}

.container img {
    width: 800px;
}

.container{
    display: flex;
    flex-direction: row;
}

.muhamed{
    padding: 10px;
    color: #000;
    font-size: 25px;
}