*{
    padding: 0;
    margin: 0;
}


body {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ffdfff;
}

header{
    text-align: center;
    background-image: url(bgnd.png);
    height: 100vh;
    width: 200vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin-bottom: -350px;

}

.bg-text{
    letter-spacing: 5px; 
    color: #fff;   
    font-size: 130px; 
    padding-top: 170px;
    text-shadow: 0 0 20px #fff;
}

.container img {
    width: 100vh
}

.containerr{
    display: flex;
    flex-direction: row;
}

.muhamed{
    padding: 10px;
    color: #000;
    font-size: 25px;
}

.container {
    
    background-color: #4a6d7c;
    color: white;
    padding: 50px;
    text-align: center;
}

.lox{
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.content {
    margin: 0 auto;
    max-width: 800px;
}
.stats {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.stat {
    background-color: #2d3e46;
    padding: 20px;
    margin: 0 10px;
    flex: 1;
    border-radius: 10px;
}
.stat h2 {
    font-size: 2em;
    margin: 0;
}
.stat p {
    margin: 10px 0 0;
}
.facilities {
    margin-top: 30px;
    display: block;
    color: #b2d9e1;
    text-decoration: none;
}
